$c_primary_green: #8bc34a;
$c_light_green: #cddb37;

$c_light_grey: #37464d;
$c_primary_grey: #2b3b43;

$c_primary_ghost: #a2b2ba;

$c_black: #000;
$c_white_blue: #f0f3f5;
$c_white: #FFF;

$fs_xs: 14px;
$fs_s: 16px;
$fs_m: 24px;
$fs_xl: 32px;


$fw_m: 600;
$fw_l: 700;
$fw_xl: 800;